<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome {{username}}</h1>
    {% if perms.studentapp.delete_blog %}
    <button>Delete</button><br><br>
    {% else %}
    <h1>No Delete Permission</h1>
    {% endif %}
    {% if perms.studentapp.add_blog %}
    <button>Add</button><br><br>
    {% else %}
    <h1>No Add Permission</h1>
    {% endif %}
    
    
    <a href="{% url 'profile' %}">Profile</a><br><br>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>