<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<form action="" method="post" novalidate>
{% csrf_token %}
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p style="background-color:red">{{error}}</p>
{% endfor %}
{% endif %} <br>
{% for fm in  form %}
{{fm.label_tag}}<br>{{fm}}<br>{{fm.errors|striptags}} <br>
{% endfor %} <br>
<input type="submit" value="Login"><br>
</form>
<a href="{%url 'signup'%}">Signup</a>
</body>
</html>