<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RelationShip Home</title>
    <style>
    .container
    {
        width:20%;
        margin-top:5px;
        padding:10px;
        background-color:red;
    }
    </style>
    
</head>
<body>
<div class="container">
<a href="{%url 'page'%}">page</a>
<a href="{% url 'post' %}">Post</a>
<a href="{%url 'song'%}">Song</a>
<a href="{% url 'user' %}">User</a>
</div>

    
</body>
</html>